<div class="container">
  <h2>Agregar Persona</h2>
  <form [formGroup]="personaForm" (ngSubmit)="agregarPersona()">
    <div class="form-group">
      <label for="nombreCompleto">Nombre Completo</label>
      <input
        type="text"
        class="form-control"
        formControlName="nombreCompleto"
      />
      <div
        *ngIf="
          personaForm.get('nombreCompleto')?.invalid &&
          (personaForm.get('nombreCompleto')?.touched ||
            personaForm.get('nombreCompleto')?.dirty)
        "
      >
        <span *ngIf="personaForm.get('nombreCompleto')?.errors?.['required']">
          <span class="badge text-bg-info"
            >El nombre completo es requerido.</span
          >
        </span>
        <span *ngIf="personaForm.get('nombreCompleto')?.errors?.['minlength']">
          <span class="badge text-bg-info"
            >El nombre completo debe tener al menos 5 caracteres.</span
          >
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" formControlName="edad" />
      <div
        *ngIf="
          personaForm.get('edad')?.invalid &&
          (personaForm.get('edad')?.touched || personaForm.get('edad')?.dirty)
        "
      >
        <span *ngIf="personaForm.get('edad')?.errors?.['required']">
          <span class="badge text-bg-info">La edad es requerida.</span>
        </span>
        <span *ngIf="personaForm.get('edad')?.errors?.['min']">
          <span class="badge text-bg-info"
            >La edad debe ser al menos 18 años.</span
          >
        </span>
      </div>
    </div>
    <div formArrayName="habilidades">
      <label>Habilidades</label>
      <div
        *ngFor="let habilidad of habilidades.controls; let i = index"
        class="habilidad-group"
      >
        <input
          [formControlName]="i"
          class="form-control"
          placeholder="Habilidad"
          required
        />
        <div
          *ngIf="habilidad.invalid && (habilidad.touched || habilidad.dirty)"
        >
          <span *ngIf="habilidad.errors?.['required']">
            <span class="badge text-bg-info">La habilidad es requerida.</span>
          </span>
        </div>
        <button
          type="button"
          (click)="eliminarHabilidad(i)"
          class="btn btn-danger btn-sm"
        >
          Eliminar
        </button>
      </div>
      <button
        type="button"
        (click)="agregarHabilidad()"
        class="btn btn-secondary"
      >
        Agregar Habilidad
      </button>
    </div>
    <button
      type="submit"
      class="btn btn-primary mt-2"
      [disabled]="personaForm.invalid"
    >
      Agregar Persona
    </button>
  </form>
</div>
